@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}


.background {
    height: 800px;
    background-image: url(/assets/Hero-bg.png);

}

.name {
    font-size: 28px;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    align-items: center;

}

.download {
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 5%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 20px 25px;
    opacity: 0.8;
}

.background {
    text-align: center;
}

.background img {
    border-radius: 150%;
    margin-bottom: 50px;
}

.main-intro {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 60px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 250px;
}

.bg-info {
    color: rgb(8, 12, 20);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    list-style: none;
    text-align: center;
    opacity: 0.7;
    margin: 50px 350px;
}

.contact {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 250px;
    padding: 20px 25px;
}