@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}


.background {
    height: 800px;
    background-image: url(/assets/Hero-bg.png);

}

.name {
    font-size: 28px;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    align-items: center;

}

.download {
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 5%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 20px 25px;
    opacity: 0.8;
    cursor: pointer;
}

.background {
    text-align: center;
}

.background img {
    border-radius: 150%;
    margin-bottom: 50px;
}

.main-intro {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 60px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 250px;
}

.bg-info {
    color: rgb(8, 12, 20);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    list-style: none;
    text-align: center;
    opacity: 0.7;
    margin: 50px 400px;
}

.contact {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 25px 25px;
    margin-top: 30px;
    cursor: pointer;
}

.web-dev-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 34px;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 150px;
    padding: 0px;
}

.web-dev-desc {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    list-style: none;
    text-align: center;
    opacity: 0.7;
    margin: 50px 400px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 400px 50px 400px;
}

.second-page {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 500px;
}

.title-desc {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    max-width: 500px;
}

.learn {
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 5%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    margin-top: 30px;
    padding: 15px 20px;
    opacity: 0.8;
    cursor: pointer;
}

.insp-title {
    margin-top: 250px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 34px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.insp-desc {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    max-width: 1200px;
    margin-left: 320px;
    margin-right: 280px;

}

.video {
    display: flex;
    justify-content: center;
    border: 2px;
    border-radius: 2px;
    margin-top: 100px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-left: 340px;
    margin-right: 340px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.head-target {
    margin-top: 100px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 34px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.techs {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.tech-name {
    border-radius: 5px;
}

.tech-desc {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.tech-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: left;
}

.html {
    background-color: rgba(255, 76, 30, 0.05);
    max-width: 450px;
    gap: 20px;
}

.css {
    background-color: rgba(0, 76, 232, 0.05);
    max-width: 450px;
    gap: 20px;
}

.js {
    background-color: rgba(255, 223, 0, 0.05);
    max-width: 400px;
    gap: 30px;
}

.tech-learn {
    font-size: 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: left;
    font-weight: 700;
    text-decoration: underline;
}

.react-img {
    margin-left: 40px;
    margin-top: 40px;
    width: 150%;
}

.react-box {
    margin-top: 60px;
    box-sizing: border-box;
    border: 2px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.react-js {
    margin: 30px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 2%;
    margin-left: 97px;
}

.react-desc {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 19px;
    font-weight: 450;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-left: 97px;
}

.support {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.supp-desc {
    margin-left: 500px;
    margin-right: 500px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.bg-hand {
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    height: 380px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.603)), url(/assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.hand-bg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.btn-ctn {
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 0px;
    border-radius: 6px;
}

input[type="text"] {
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    background-color: aliceblue;
    height: 62px;
    width: 580px;
    border: 0px;
    border-radius: 8px;
}

.submit-btn {
    font-size: 22px;
    font-weight: bolder;
    border: 0px;
    border-radius: 7px;
    padding: 20px 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}


.socials {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-right: 50px;

}

.ending {
    margin-left: 60px;

}

.feet {
    background-color: #0d132103;
    display: flex;
    justify-content: space-between;
    margin: 32px 150px;

}